# Godot 4
.godot/
*.translation
export_presets.cfg

# Imported assets
*.import

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Builds
build/
dist/
*.exe
*.pck
*.zip
.godot-sdk/
steam/screenshots/concat.txt
steam/screenshots/trailer_slideshow.mp4

# Logs
*.log
